* {
    margin:0;
    padding:0;
}


body {
    display: grid;
    grid-template-columns: 200px 200px auto 200px 200px;
    grid-template-rows: 200px auto 200px;
    grid-template-areas:
        "menu . top top top"
        "menu content content content message"
        "menu bottom bottom bottom message";
    gap : 0;
    justify-items: center;
    align-items: center;
    align-content: stretch;

}

.top {
    grid-area: top;
}

.menu {
    grid-area: menu;
}

.message {
    grid-area: message;
}

.bottom {
    grid-area: bottom;
}

.content {
    grid-area: content;
}