
* {
    padding: 0;
    margin: 0;
}

body{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: darkslategrey;
}

form{
    display: flex;
    flex-direction: column;
    align-items: center;

}
input{
    flex-grow: 1;
}