APP_PORT=7999
APP_HOST=http://auth.localhost:7999
EVENTSTORE_URI=esdb://admin:changeit@localhost:2113?tls=false&tlsVerifyCert=false
REDIS_URI=redis://localhost:6379/
COOKIE_SECRET_KEY="generate with something like : openssl rand -base64 32"

LOCAL_K8S=../hfb-local-k8s