APP_PORT=7999
APP_HOST=http://auth.localhost:7999
MARIADB_URL=mysql://root:password@localhost:3306/account
EVENTSTORE_URI=esdb://admin:changeit@localhost:2113?tls=false&tlsVerifyCert=false
REDIS_URI=redis://localhost:6379/

# for sqlx-cli :
DATABASE_URL=mysql://root:password@localhost:3306/account

LOCAL_K8S=../hfb-local-k8s