{% extends "base" %}
{% block title %}account{% endblock title %}

{% block content %}

<h2>Account</h2>
<p>
    TODO
{{name}}
</p>
<div class="links">
    <a href="#"></a>
    <a href="/logout">Logout</a>
</div>
{% endblock content %}