<!DOCTYPE html>
<html lang="en">
<head>

<!-- <meta http-equiv="refresh" content="5">-->
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    {% block head %}
    <link rel="stylesheet" href="/style/constants.css"/>
    <link rel="stylesheet" href="/style/base.css"/>
    <title>{% block title %}{% endblock title %}</title>
    {% endblock head %}
</head>
<body>

<section>
    <div class="content">
        {% block content %} {% endblock %}
    </div>
</section>
</body>
</html>