<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
    <link rel="stylesheet" href="style.css"/>
    <title>{% block title %}{% endblock title %}</title>
    {% endblock head %}
</head>
<body>
    <div class="top">{% block top %}{% endblock %}</div>
    <div class="menu">{% block menu %}{% endblock %}</div>
    <div class="message">{% block message %}{% endblock %}</div>
    <div class="bottom">{% block bottom %}{% endblock %}</div>
    <div class="content">{% block content %}{% endblock %}</div>
</body>
</html>