<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
    <link rel="stylesheet" href="style.css"/>
    <title>{% block title %}{% endblock title %}</title>
    {% endblock head %}
</head>
<body>

<section>
    {% for i in range(end=200) %}
    <span></span>
    {% endfor %}

    <div class="container">
        <div class="content">
            {% block content %} {% endblock %}
        </div>
    </div>
</section>
</body>
</html>