{% extends "base" %}
{% block title %}register{% endblock title %}

{% block content %}
<h2>Sign up</h2>
<form action="/register" method="post">
    <div class="inputBox">
        <input type="text" required name="identity" /> <i>Identifier</i>
    </div>
    <div class="inputBox">
        <input type="text" required name="pseudo" /> <i>Pseudonym</i>
    </div>

    <div class="inputBox">
        <input type="password" required name="password" /> <i>Password</i>
    </div>
    <div class="inputBox">
        <input type="password" required name="password_check" /> <i>Password check</i>
    </div>
    <div class="inputBox">
        <input type="submit" value="Register">
    </div>
    <div class="links">
        <a href="#"></a>
        <a href="/">Sign in</a>
    </div>
</form>
{% endblock content %}