{% extends "base" %}
{% block title %}register{% endblock title %}

{% block content %}
<h2>Sign up</h2>
<form action="/register" method="post">
    <div class="inputBox">
        <input type="text" required name="identity"  minlength="4" maxlength="25"  /> <i>Identifier</i>
    </div>
    <div class="inputBox">
        <input type="text" required name="pseudo"  minlength="3" maxlength="20"  /> <i>Pseudonym</i>
    </div>
    <div class="inputBox">
        <input type="password" required name="password"  minlength="10" maxlength="50"  /> <i>Password</i>
    </div>
    <div class="inputBox">
        <input type="password" required name="password_check"  minlength="10" maxlength="50"  /> <i>Password check</i>
    </div>
    <div class="inputBox">
        <input type="hidden" name="csrf" value="{{csrf}}"/>
        <input type="submit" value="Register">
    </div>
    <div class="links">
        <a href="#"></a>
        <a href="/">Sign in</a>
    </div>
</form>
{% endblock content %}